.OskarTooltip {
  padding: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  cursor: default;
  z-index: 100;
  animation: fadein 0.15s linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
